In [27]:
#importing dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score

In [28]:
#loading dataset
df=pd.read_csv(r"C:\Users\noman\projects\codsoft intership\CustomerChurnPrediction\Churn_Modelling.csv")
df=df.drop(['RowNumber','Surname','Geography','Gender'], axis=1)

In [29]:
df.head(10)

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0
5,15574012,645,44,8,113755.78,2,1,0,149756.71,1
6,15592531,822,50,7,0.00,2,1,1,10062.80,0
7,15656148,376,29,4,115046.74,4,1,0,119346.88,1
8,15792365,501,44,4,142051.07,2,0,1,74940.50,0
9,15592389,684,27,2,134603.88,1,1,1,71725.73,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   CreditScore      10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
 9   Exited           10000 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 781.4 KB

In [31]:
x=df.drop(['Exited'], axis=1)
y=df['Exited']

In [32]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,shuffle=True)

In [33]:
#making an instance of the classifier
classifier=DecisionTreeClassifier(criterion='gini')

In [34]:
classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [35]:
y_pred=classifier.predict(X_test)

In [37]:
print(f'the accuracy of the model is: {accuracy_score(y_test,y_pred)*100} %')

the accuracy of the model is: 79.10000000000001 %